name: CI

on:
  pull_request:
  push:
    branches:
      - master
    paths-ignore:
      - "**/*.md"

env:
  GO_VERSION: '^1.25.0'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - run: go version

      - name: Run go mod tidy
        run: go mod tidy

      - name: Run go fmt
        run: go fmt ./...

      - name: Verify dependencies
        run: go mod verify

      - name: Run go vet
        run: go vet ./...

      - name: Run staticcheck
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          staticcheck ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --verbose --timeout=10m
          skip-cache: true

      - name: Run betteralign
        run: |
          go install github.com/dkorunic/betteralign/cmd/betteralign@latest
          betteralign ./...

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - run: go version

      - name: Run tests and collect coverage
        run: go test -v -race -cover ./... -count=1 -coverprofile=coverage.out -covermode=atomic

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - run: go version

      - name: Run go build
        run: go build ./...

  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - run: go version

      - name: Run benchmarks
        run: go test -bench=. -benchtime=1s -benchmem -cpu=1
